.Each-ItemBox{
    padding-left: 20px;
    display: inline-block;
    height:100%;
}

.HorizontalSlider-Outer-Frame{
    border: 2px solid;
    white-space:nowrap;
    display:block;
    overflow-x:auto;
    overflow-y: hidden;
    width: 100%;
    height: 320px;
    background-color: white;
}

.HorizontalSlider-Inner-Frame{
    padding: 2px 2px 2px 2px;
    width:max-content;
    height:300px;
    overflow: auto;
    padding-right:20px;
}

.HorizontalSlider-Title{
    position:fixed;
    padding: 2px 0px 0px 2px;
}