.ItemBoxFrame{
    display: inline-block;
    width: 250px;
    height: 260px;
}

.ItemBox-Open-Frame{
    display:flex;
    height: 250px;
    width: 250px;
}

.ItemBox-Open-Frame:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    cursor: pointer;
}

.ItemBoxFrame-Image{
    height: inherit;
    width: inherit;
    display: inline-block;
}

.ItemBoxFrame-Title{
    overflow-x: hidden;
    text-overflow:ellipsis;
    text-align: center;
    font-weight: bold;
    width: 250px;
    padding-top: 5px;
}