.ItemBox-List{
    list-style-position: inside;
    float:left;
    height:auto;
    white-space: normal;
    word-wrap:break-word;
    padding-top: 8px;
    width: 100%;
}



.ItemBox-Project-Name{
    display: block;
    font-weight: bold;
    white-space: normal;
    word-wrap:break-word;
    padding-top: 8px;
    width: 100%;
}

.ItemBox-Project-Name .fa.fa-github{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 0px;
}

.ItemBox-Languages{
    padding-top: 8px;
}

.ItemBox-Languages-Elements{
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    margin-right: 10px;
    background-color: rgba(0,0,0,1);
    font-weight: bold;
}

.ItemBox-Date{
    display: block;
    height:auto;
    white-space: normal;
    word-wrap:break-word;
    padding-top: 8px;
    width: 100%;
}

.ItemBox-Summary{
    display: block;
    height:auto;
    white-space: normal;
    word-wrap:break-word;
    padding-top: 8px;
    width: 100%;
}

.ItemBox-ShortDescription{
    width: inherit;
    height: fit-content;
    display: block;
}


.ItemBox-Video{
    display: block;
    height: 60%;
    width: 80%;
}

.ItemBox-Youtube-Div{
    position: relative;
    padding-top: 5%;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ItemBox-Outer-Frame{
    height: fit-content;
}

.Readme-Div{
    margin-top: 5%;
    position: relative;
    padding-top: 56.25%;
    width: 80%;
    overflow: hidden;
}

.Readme-Iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}