#ItemBoxFrame{
    display: inline-block;
}

.ItemBox-Open-Frame{
    display:flex;
    height: 250px;
    width: 250px;
    border: 2px solid;
}

.ItemBoxFrame-Image{
    height: inherit;
    width: inherit;
    display: inline-block;
}

.ItemBox-Title{
    text-align: center;
}