.Horizontal-Slider{
    margin: 20px 20px 20px 20px;
  }
  
  .Horizontal-Slider-Title{
    color: black;
    position: sticky;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
  }