.Intro {
    text-align: center;
}

.Intro .UserName{
    color:black;
    font-weight:bold;
    font-size:20px;
}

.Intro .UserInfo{
    margin: 5px 0px 0px 0px;
}

.fa{
    color:black;
}

.UserInfo .fa.fa-github{
    padding: 0px 10px 0px 0px;
}


.UserInfo .fa.fa-linkedin-square{
    padding: 0px 10px 0px 0px;
}

.UserInfo .UserResume{
    font-weight:bold;
    color:black;
}